<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77861967352-ov1b2pgvt8r8fj3v14slspm3v48gjv58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77861967352-ov1b2pgvt8r8fj3v14slspm3v48gjv58</string>
	<key>API_KEY</key>
	<string>AIzaSyCe4dZQI674Y-0gGQIm4vJ-1An3W7WoJ-c</string>
	<key>GCM_SENDER_ID</key>
	<string>77861967352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scholarChatFirebase</string>
	<key>PROJECT_ID</key>
	<string>scholar-chat-9682e</string>
	<key>STORAGE_BUCKET</key>
	<string>scholar-chat-9682e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77861967352:ios:3445b4c0800ec56396320d</string>
</dict>
</plist>